<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Washington Square News | Notes</title>
    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="container">
    <div class="jumbotron">
      <h1 class="welcome-banner"><i class="fa fa-newspaper-o"> Downtown NY News</i></h1>
      <hr>
      <p style="text-align: center">Washington Square News.</p>
    </div>
  </header>

  <section class="container content-area">
    <div id="wrapper">
      {{{body}}}
    </div>
  </section>

  <footer class="footer-box">
     <span>Made with <i class="fa fa-heart"> <a href="https://www.github.com/jbool24/WebScraper">Justin Bellero</a></i></span>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/news.js"></script>
</body>

</html>
