<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Eat-Da-Burger</title>
    <!-- Bootstrap -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/burgerStyle.css">
</head>

<body>
  <header>
    <img class="burger-img" src="https://openclipart.org/download/185056/cheeseburger-vector.svg">
    <div>
      <h1 class="welcome-banner"><i class="fa fa-cutlery">Downtown News NY</i></h1>
      <p>Washington Square News.</p>
    </div>
  </header>

  <section>
    {{{body}}}
  </section>

  <footer class="footer-box">
     <span>Made with <i class="fa fa-heart"> <a href="https://www.github.com/jbool24/WebScraper">Justin Bellero</a></i></span>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="js/news.js"></script>
</body>

</html>
